<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wangx.teachingassistantTeacher">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".util.ContextUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="Android:icon, android:theme">

        <!-- 高德地图定位key配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4cc701f1cbcef4613a5374b862e0fc3f" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.wangx.teachingassistantTeacher.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 定位服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 主界面 -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <!-- 登陆界面 -->
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" />
        <!-- 欢迎界面 -->
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 笔记界面 -->
        <activity
            android:name=".ui.WorkActivity"
            android:label="@string/activity_work" />
        <!-- 通知界面 -->
        <activity android:name=".ui.MyHomeActivity" />
        <activity
            android:name=".ui.AddNoticeActivity"
            android:label="发通知" />
        <activity
            android:name=".ui.GradeActivity"
            android:label="成绩" />
        <activity
            android:name=".ui.TalkActivity"
            android:label="讨论" />
        <activity
            android:name=".ui.QuestionActivity"
            android:label="投票" />
        <activity
            android:name=".ui.KaoqinActivity"
            android:label="考勤" />
        <activity
            android:name=".ui.AddImgActivity"
            android:label="上传图片" />
        <activity
            android:name=".ui.AddVideoActivity"
            android:label="上传视频" />
        <activity
            android:name=".ui.AddDocActivity"
            android:label="上传文档" />
        <activity
            android:name=".ui.ViewResourceActivity"
            android:label="资源详情" />
        <activity
            android:name=".ui.ViewNoticeActivity"
            android:label="通知详情" />
        <activity
            android:name=".ui.CheckCourseActivity"
            android:label="课程学习" />
        <activity
            android:name=".ui.AddGradeActivity"
            android:label="成绩录入" />
        <activity
            android:name=".ui.CheckGradeActivity"
            android:label="选择课程" />
        <activity
            android:name=".ui.ViewCourseActivity"
            android:label="课程查看" />
        <activity
            android:name=".ui.MyCourseActivity"
            android:label="课程详情" />
        <activity android:name=".ui.VideoActivity" />
        <activity
            android:name=".ui.ChooseCourseActivity"
            android:label="聊天室" />
        <activity
            android:name=".ui.AddCourseActivity"
            android:label="选课" />
        <activity android:name=".ui.CheckActivity"
            android:label="点名"/>
        <activity android:name=".ui.KaoqinResultActivity"
            android:label="考勤结果"/>
        <activity android:name=".ui.CheckResultActivity"
            android:label="签到结果"/>
        <activity android:name=".ui.CheckGradeCourseActivity"
            android:label="查看成绩"/>
        <activity android:name=".ui.CheckStuGradeActivity"
            android:label="查看成绩"/>
        <activity android:name=".ui.ChangeCourseInfoActivity"
            android:label="课程信息修改"/>
        <activity android:name=".ui.ChangeCourseRadioActivity"
            android:label="课程权重修改"/>
        <activity
            android:name=".ui.AddVoteActivity"
            android:label="新建投票" />
        <activity android:name=".ui.ViewVoteActivity"
            android:label="投票详情"/>
        <activity android:name=".ui.VoteResultActivity"
            android:label="投票结果"/>
        <activity android:name=".ui.ViewWorkActivity"
            android:label="笔记详情"/>
        <activity android:name=".ui.AddWorkActivity"
            android:label="新建笔记"/>
        <activity android:name=".ui.BarChartActivity" />
        <activity android:name=".ui.BarChartHoriActivity" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.ViewVideoActivity"
            android:label="视频详情"/>
        <activity android:name=".ui.ViewDocActivity"
            android:label="资料详情"/>
    </application>

</manifest>